@font-face {
  font-family: "iconfont"; /* Project id 4750265 */
  src: url('iconfont.woff2?t=1732444651406') format('woff2'),
       url('iconfont.woff?t=1732444651406') format('woff'),
       url('iconfont.ttf?t=1732444651406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunhang:before {
  content: "\e61b";
}

.icon-quanbuzhankai:before {
  content: "\e70c";
}

.icon-icon_zhankai_xiangxiazhankai:before {
  content: "\e662";
}

.icon-wenjianjia:before {
  content: "\e671";
}

.icon-wenjianshu:before {
  content: "\e761";
}

.icon-jpg:before {
  content: "\e601";
}

.icon-png:before {
  content: "\e69e";
}

.icon-Markdown:before {
  content: "\e705";
}

.icon-unknownfile:before {
  content: "\e677";
}

.icon-wenjianjia111:before {
  content: "\e650";
}

.icon-close:before {
  content: "\e60e";
}

.icon-max:before {
  content: "\e639";
}

.icon-huanyuan:before {
  content: "\e67a";
}

.icon-min:before {
  content: "\e600";
}

