*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*字体：阿里图标的字体、鸿蒙的字体、JetBrains的字体*/